<header class="jumbotron" style="padding: 2%; border-radius: 0;">
  <h2 class="text-center"> {{'login.title' | translate }} </h2>
</header>

<div class="container">
  <div class="row">

    <div class="col-lg-4 col-md-6"></div>

    <div class="col-lg-4 col-md-6">

      <div class="form-group">
        <label> {{ 'login.username.label' | translate }} </label>
        <input type="text" name="userName" placeholder="{{ 'login.username.placeholder' | translate }}"
          class="form-control">
      </div>

      <div class="form-group">
        <label> {{ 'login.password.label' | translate }} </label>
        <input type="password" name="passWord" placeholder="{{ 'login.password.placeholder' | translate }}"
          class="form-control">
      </div>

      <div class="form-group">
        <button class="btn btn-success"> {{'login.button.name' | translate }} </button>
      </div>

      <div class="form-group">
        <label> <a href="#" class="" style="float: left;"> {{'login.register.link' | translate}} </a> </label>
        <br />

        <label> <a href="#" class="" style="float: right;"> {{'login.forgotpassword.link' | translate}} </a> </label>
        <br />

        <div class="btn-group">

          <button type="button" class="btn btn-primary button" (click)="useLanguage('ta')"> {{'login.button.ta' | translate}}
          </button>

          <button type="button" class="btn btn-primary button" (click)="useLanguage('fr')"> {{'login.button.fr' | translate}}
          </button>

          <button type="button" class="btn btn-primary button" (click)="useLanguage('zh')"> {{'login.button.zh' | translate}}
          </button>

          <button type="button" class="btn btn-primary button" (click)="useLanguage('en')"> {{'login.button.en' | translate}}
          </button>

        </div>

      </div>

    </div>

    <div class="col-lg-4 col-md-6"></div>

  </div>
</div>